.resimg {
  display: flex;
  align-items: flex-start;
  margin-left: 60px;
}

.resimg img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}
.resimg img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* .starhover:hover {
  transform: translateY(-5px);
} */
.resimg p {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  display: block;
}
.ratingspan {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: normal;
}
.categorynamespan {
  font-size: 1.5rem;
  color: #2c3e50;
}
.categorynamespan:hover {
  text-decoration: underline;
}
.resimg div {
  display: flex;
  flex-direction: column;
}
.descContainer {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
/* Responsive styles */
@media (max-width: 480px) {
  .resimg {
    margin-left: 0;
  }
  .resimg p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (max-width: 450px) {
  .resimg {
    margin-left: 0;
  }
  .resimg p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .resimg {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .resimg img {
    width: 70%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .descContainer {
    width: 80%;
  }

  .resimg p {
    font-size: 2rem;
    margin-left: 30%;
  }
  .categorynamespan {
    margin-left: 39%;
    font-size: 1.5rem;
  }
  .starhover {
    padding-left: 5%;
  }
}

@media (max-width: 480px) {
  .resimg {
    margin-left: 0;
  }

  .resimg p {
    margin-left: 19%;
    margin-top: 1.5%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .categorynamespan {
    margin-left: 29%;
    font-size: 1.5rem;
  }
  .starhover {
    padding-left: 9.8%;
  }
  .starhover .ratingspan {
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
  }
  .resimg img {
    width: 300px;
    height: auto;
    margin-right: 20px;
  }
  .descContainer {
    width: 100%;
    padding: 5px;
  }
}
