.book_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.row {
  flex: 1 1 calc(20% - 10px);
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f4f2e9;
}

.card img {
  max-width: 100%;
  height: 300px;
  border-bottom: 1px solid #ddd;
}

.card h2 {
  margin-top: 12px;
  font-size: 18px;
  color: #333;
}

.card img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img:hover + h2 {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .row {
    flex: 1 1 calc(30% - 10px);
    max-width: calc(48% - 10px);
  }
}

@media (max-width: 768px) {
  .row {
    flex: 1 1 calc(40% - 10px);
    max-width: calc(98% - 10px);
  }
}

@media (max-width: 480px) {
  .row {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(98% - 10px);
  }
  .card {
    padding: 12px;
  }

  .card h3 {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .row {
    flex: 1 1 calc(60% - 10px);
    max-width: calc(98% - 10px);
  }
  .card {
    padding: 12px;
  }

  .card h3 {
    font-size: 16px;
  }
}

@media (max-width: 225px) {
  .row {
    flex: 1 1 calc(60% - 10px);
    max-width: calc(98% - 10px);
    min-width: 170px;
  }
  .card {
    padding: 12px;
  }

  .card h3 {
    font-size: 16px;
  }
}
