.carouselInner img {
  width: 100%;
  height: 91vh;
  object-fit: cover;
}
#sliderbtn {
  background-color: transparent;
}

@media (max-width: 768px) {
  .carousel-inner.carouselInner img {
    height: 400px;
  }
}

@media (max-width: 576px) {
  .carousel-inner.carouselInner img {
    height: 300px;
  }
}
