.xx:focus {
  outline: none;
}

.xx::placeholder {
  font-weight: 300;
  font-size: 0.9rem;
}

.headersearchicon {
  border: none;
  padding-left: 0.5rem;
}

.navbarC {
  margin-left: 70px !important; 
  margin-right: 50px !important;
}

.navbarC li{
  border-radius: 30px;
  padding: 5px;
}
.navbarC li:hover{
  transition: 0.5s;
  background-color: rgba(148, 143, 131, 0.13);
  border-radius: 30px;
}
.searchBar{
  margin-right: 60px  !important;
}
